/*
0 - 800px:           Phone
801 - 1200px      Tablet
1400 - ~ px          Desktop

1em = 16px
*/
/* Variables */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.9;
  color: #2a3433;
  box-sizing: border-box;
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  height: auto; }

@media (max-width: 50em) {
  html {
    font-size: .7rem; } }

@media (max-width: 75em) {
  html {
    font-size: .9rem; } }

@media (min-width: 87.5em) {
  html {
    font-size: 1rem; } }

#wrapper {
  max-width: 87.5rem;
  margin: 0 auto;
  border: 0.1rem solid #e9e8e4;
  display: grid;
  grid-gap: .8rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "about about sidebar" "sites sites sites" "photos photos photos" "graphics graphics graphics" "contact contact contact"; }

@media all and (max-width: 50rem) {
  #wrapper {
    margin: 0;
    padding: .5rem;
    grid-template-columns: 1fr;
    grid-template-areas: "about" "sidebar" "sites" "sites" "sites" "photos" "graphics" "contact"; } }

.heading__tertiary {
  font-size: 2.25rem;
  letter-spacing: .3rem; }

@keyframes enterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translate(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: relative;
  width: 60%;
  z-index: 20; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.5rem 1.5rem rgba(42, 52, 51, 0.45); }

btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.3rem 0.7rem rgba(42, 52, 51, 0.45); }

.btn-ash {
  background-color: rgba(233, 232, 228, 0.6);
  color: #2a3433; }
  .btn-ash::after {
    background-color: #e9e8e4; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease-in-out; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveFromBottom .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

nav {
  position: fixed;
  z-index: 100;
  padding: .3rem 0;
  width: 100%;
  background-color: rgba(99, 121, 109, 0.95); }
  nav .nav__align-center {
    align-items: center; }
  nav .logo {
    width: 12rem;
    justify-content: center;
    align-items: center;
    padding-left: 1rem; }
  nav .nav__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 62.5rem;
    box-sizing: border-box; }
  nav ul {
    margin: 0;
    display: flex;
    padding: 0;
    list-style-type: none; }
  nav .nav__menu li a {
    display: block;
    color: #e9e8e4;
    font-size: 1.5rem;
    padding: 0 1rem;
    pointer: cursor; }
    nav .nav__menu li a:after {
      content: ' ';
      display: block;
      height: .2rem;
      width: 0;
      background-color: #e9e8e4;
      opacity: 0;
      transition: all .5s ease; }
    nav .nav__menu li a:hover:after {
      width: 100%;
      opacity: 1; }
    nav .nav__menu li a li:last-child a {
      padding-right: 0; }

@media all and (max-width: 1020px) {
  nav .logo {
    width: 10rem; }
  nav .nav__menu li a {
    font-size: 1.25rem;
    padding: 0 .75rem; } }

@media all and (max-width: 800px) {
  nav {
    position: absolute;
    background: none; }
  .nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(99, 121, 109, 0.9); }
    .nav__menu li {
      padding: 0 5rem; }
    .nav__menu a {
      display: block;
      padding: .4rem 0;
      color: #e9e8e4;
      font-size: 1.1rem;
      border-bottom: solid 0.1rem rgba(233, 232, 228, 0.7); }
    .nav__menu li:last-child a {
      border-bottom: none; } }

/*  @media all and (max-width: 840px) {
  nav {
    position: absolute;
    .nav__fixed {
      background: none;
    }
}
  nav .logo {
    width: 8rem;
  }
   .nav__menu {
     list-style-type: none;
     margin: 0;
     padding: 0;
     max-height: 0;
     overflow: hidden;
     background-color: rgba($color-dark-sage, .9);
     transition: max-height .5s ease-in-out;

     li a {
       display: block;
       color: $color-light-ash;
       padding: .4rem 0;
       font-size: 1.25rem;
       text-align: center;
       border-bottom: .1rem solid rgba($color-light-ash, .8);
     }
   }
 }  */
.header {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top; }

.title__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading__primary {
  color: #e9e8e4;
  background-color: rgba(42, 52, 51, 0.6);
  padding: 2.5rem;
  animation: enterFromLeft 2s ease-in-out;
  backface-visibility: hidden; }
  .heading__primary--main {
    display: block;
    font-size: 4rem;
    letter-spacing: .9rem; }
  .heading__primary--sub {
    display: block;
    font-size: 2.15rem;
    letter-spacing: .2rem; }

@media all and (max-width: 1020px) {
  .heading__primary {
    padding: 2rem; }
    .heading__primary--main {
      font-size: 3rem; }
    .heading__primary--sub {
      font-size: 1.7rem; } }

@media all and (max-width: 840px) {
  .title__box {
    top: 70%; }
  .heading__primary {
    background-color: transparent; }
    .heading__primary--main {
      font-size: 2.25rem;
      letter-spacing: .7rem; }
    .heading__primary--sub {
      opacity: 0;
      visibility: hidden; } }

@media all and (max-width: 600px) {
  .heading__primary {
    padding: .75rem; }
    .heading__primary--main {
      font-size: 1.8rem;
      letter-spacing: .3rem; } }

@media all and (max-width: 400px) {
  .heading__primary {
    padding: .5rem; }
    .heading__primary--main {
      font-size: 1.3rem;
      letter-spacing: .3rem; } }

#about {
  grid-area: about; }

.about {
  font-size: 1.25rem;
  padding-left: .75rem;
  margin: 0; }

.about__title {
  border-bottom: 0.2rem solid #63796d;
  color: #e9e8e4;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .about__title span {
    background-color: #63796d;
    padding: .5rem 1rem;
    display: inline-block; }

#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #sidebar img {
    max-width: 100%;
    height: auto;
    object-fit: cover; }

#websites {
  margin-top: 5rem;
  grid-area: sites; }

.websites {
  margin: 0; }

.websites__title {
  border-bottom: 0.2rem solid #63796d;
  color: #e9e8e4;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .websites__title span {
    background-color: #63796d;
    padding: .5rem 1rem;
    display: inline-block; }

.cards__intro {
  font-size: 1.25rem;
  max-width: 90%;
  margin: 0 auto; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin: 10rem 1rem; }
  .card__side {
    height: 50rem;
    width: 26rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4); }
    .card__side--front {
      background-color: #e9e8e4; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #63796d, #8cccbc); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #8cccbc, #f3d915); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #544545, #d4ecb5); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #63796d, #8cccbc), url(../img/buddhas.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #8cccbc, #f3d915), url(../img/rome.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2a3433, #7fb8a5), url(../img/neon.jpg); }
  .card__heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 11rem;
    right: 2rem;
    color: #e9e8e4; }
  .card__heading-span {
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(99, 121, 109, 0.8), rgba(140, 204, 188, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(84, 69, 69, 0.8), rgba(243, 217, 21, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(42, 52, 51, 0.8), rgba(140, 204, 188, 0.8)); }
  .card__details {
    padding: 4rem;
    font-size: 1.2rem;
    margin: 0 auto; }
  .card__site-name-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__name-box {
    text-align: center;
    color: #e9e8e4;
    margin-bottom: 15rem;
    z-index: 15;
    opacity: .6; }
  .card__site-name {
    font-size: 1.5rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side--2 {
    height: 50rem;
    width: 24rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4); }
    .card__side--2--front--2 {
      background-color: #e9e8e4; }
    .card__side--2--back--2 {
      transform: rotateY(180deg); }
      .card__side--2--back--2-2 {
        background-image: linear-gradient(to right bottom, #63796d, #8cccbc), url(../img/logos/deco-logo.gif);
        background-repeat: no-repeat;
        background-blend-mode: color; }
  .card:hover .card__side--front--2 {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back--2 {
    transform: rotateY(0); }
  .card__picture--2 {
    background-size: cover;
    height: 20rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--2--1 {
      background-image: linear-gradient(to right bottom, #63796d, #8cccbc), url(../img/rome.jpg); }
    .card__picture--2--2 {
      background-image: url(../img/rome.jpg); }
    .card__picture--2--3 {
      background-image: url(../img/neon.jpg); }
  .card__heading--2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 11rem;
    right: 2rem;
    color: #e9e8e4;
    background-color: rgba(42, 52, 51, 0.6);
    padding: .75rem 1.5rem; }
  .card__heading-span--2 {
    padding: 1rem 1.5rem; }
  .card__details--2 {
    padding: 5rem;
    font-size: 1.2rem;
    margin: 0 auto; }

.card1 {
  display: flex;
  flex-grow: 1;
  margin-left: -10rem; }

.card2 {
  display: flex;
  flex-grow: 1; }

.card3 {
  display: flex;
  flex-grow: 1; }

@media all and (max-width: 82.5rem) {
  #websites {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card {
    width: 27rem;
    margin-top: 0; }
  .card1 {
    margin-left: 0;
    margin-top: 4rem; } }

@media all and (max-width: 23rem) {
  .card {
    max-width: 100%; } }

@media all and (min-width: 83rem) {
  #card__holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12rem; }
  .card {
    margin-top: 3rem; } }

#photos {
  grid-area: photos; }

.photo__gallery {
  margin: 2rem; }

.photo__gallery--title {
  border-bottom: 0.2rem solid #63796d;
  color: #e9e8e4;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .photo__gallery--title span {
    background-color: #63796d;
    padding: .5rem 1rem;
    display: inline-block; }

.photo__gallery--img {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .photo__gallery--img li {
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .photo__gallery--img li:after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(42, 52, 51, 0.35);
      transition: all .3s ease-in; }
    .photo__gallery--img li:hover:after {
      height: 0; }
    .photo__gallery--img li img {
      display: block;
      width: 100%;
      transition: all .4s ease-in; }

.photo__gallery--img li:hover img {
  transform: scale(1.2); }

.photo__backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 52, 51, 0.9);
  z-index: 9999; }
  .photo__backdrop img {
    max-width: 90vw; }

.photo__backdrop-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  color: #e9e8e4;
  border: solid 0.2rem #e9e8e4;
  border-radius: 100%;
  cursor: pointer; }

#graphics {
  grid-area: graphics; }

.graphics__gallery {
  margin: 2rem; }

.graphics__gallery--title {
  border-bottom: 0.2rem solid #63796d;
  color: #e9e8e4;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .graphics__gallery--title span {
    background-color: #63796d;
    padding: .5rem 1rem;
    display: inline-block; }

.graphics__gallery--img {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .graphics__gallery--img li {
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .graphics__gallery--img li:after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(42, 52, 51, 0.35);
      transition: all .3s ease-in; }
    .graphics__gallery--img li:hover:after {
      height: 0; }
    .graphics__gallery--img li img {
      display: block;
      width: 100%;
      transition: all .4s ease-in; }

.graphics__gallery--img li:hover img {
  transform: scale(0.9); }

.graphics__backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 52, 51, 0.9);
  z-index: 9999; }
  .graphics__backdrop img {
    max-width: 90vw; }

.graphics__backdrop-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  color: #e9e8e4;
  border: solid 0.2rem #e9e8e4;
  border-radius: 100%;
  cursor: pointer; }

#contact {
  grid-area: contact; }

.contact {
  margin: 2rem; }

.contact__title {
  border-bottom: 0.2rem solid #63796d;
  color: #e9e8e4;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .contact__title span {
    background-color: #63796d;
    padding: .5rem 1rem;
    display: inline-block; }

.message {
  background-image: linear-gradient(105deg, rgba(233, 232, 228, 0.95) 0%, rgba(233, 232, 228, 0.95) 60%, transparent 60%), url(../img/tiles/sage-tiles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4); }

.form {
  font-family: inherit;
  width: 70%;
  padding: 5rem; }
  .form__input {
    display: block;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    padding: .8rem 1rem;
    border: none;
    margin: 2rem 0 0 2rem;
    border-bottom: .5rem solid transparent;
    width: 60%;
    transition: all .5s ease-in-out; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4);
    border-bottom: 0.5rem solid #7fb8a5; }
  .form:focus:invalid {
    border-bottom: .5rem solid orangered; }
  .form::-webkit-input-placeholder {
    color: #2a3433; }
  .form__label {
    font-size: 1rem;
    margin-left: 3rem;
    display: block;
    margin-top: .5rem;
    transition: all .5s ease; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem); }
  .form__subject {
    padding: .8rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    width: 60%;
    display: block;
    border: none; }
    .form__subject__input {
      display: block;
      font-size: 1rem;
      color: inherit;
      padding: .8rem 1rem;
      border: none;
      margin: 2rem 0 0 2rem;
      border-bottom: .5rem solid transparent;
      width: 60%; }
    .form__subject__label {
      font-size: 1rem;
      margin-left: 3rem;
      display: block; }
    .form__subject:focus {
      outline: none;
      box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4);
      border-bottom: 0.5rem solid #7fb8a5; }
    .form__subject:focus:invalid {
      border-bottom: 0.2rem solid #f3d915; }

textarea {
  height: 10rem;
  resize: none; }

.btn__box-submit {
  z-index: 20; }

.contact input[type="submit"] {
  border: none;
  padding: 1rem 3rem;
  color: #2a3433;
  background-color: #7fb8a5;
  font-size: 1.2rem;
  margin: 2rem 0 0 2rem;
  font-family: inherit;
  box-shadow: 0 1.5rem 3rem rgba(42, 52, 51, 0.4);
  cursor: pointer;
  outline: none; }

.contact input[type="submit"]:link,
.contact input[type="submit"]:visited {
  transition: all .3s ease-in-out; }

.contact input[type="submit"]:hover {
  transform: translateY(-0.4rem);
  transition: all .3s ease-in-out;
  opacity: .8;
  box-shadow: 0 0.5rem 1.5rem rgba(42, 52, 51, 0.6); }

.contact input[type="submit"]::after {
  content: "";
  display: inline-block;
  opacity: .8;
  z-index: -1;
  transition: all .5s ease-in-out; }

.contact input[type="submit"]:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0; }

.contact input[type="submit"]:active {
  transform: translateY(-0.2rem);
  transition: all .5s ease-in-out;
  box-shadow: 0 0.3rem 0.7rem rgba(42, 52, 51, 0.6); }

.btn-animated {
  animation: moveFromBottom .5s ease-in-out .75s;
  transition: all .5s ease-in-out;
  animation-fill-mode: backwards; }

@media all and (max-width: 50rem) {
  .message {
    background-image: linear-gradient(to right, rgba(233, 232, 228, 0.9) 0%, rgba(233, 232, 228, 0.9) 100%), url(../img/tiles/sage-tiles.jpg); }
  .heading__tertiary {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .form {
    width: auto; }
    .form__input {
      width: 90%;
      font-size: 1rem;
      margin: 0 auto; } }

footer {
  background-color: #2a3433;
  height: 15rem;
  font-size: 1.25rem; }
  footer .footer__social-icons {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; }
    footer .footer__social-icons li {
      margin-left: 2rem;
      margin-right: 1rem; }
      footer .footer__social-icons li a {
        transition: opacity .5s ease; }
        footer .footer__social-icons li a:hover {
          opacity: .7; }
  footer .logo {
    width: 7rem;
    margin-top: 4.5rem;
    margin-left: 1rem; }
  footer i {
    font-size: 2.25rem;
    color: #e9e8e4;
    margin-top: 5rem; }

.footer__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  box-sizing: border-box; }

.footer__copyright {
  color: #e9e8e4;
  font-size: .9rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  bottom: 1rem; }

@media all and (max-width: 840px) {
  footer .logo {
    width: 4rem; }
  footer li {
    margin-left: .5rem; }
  footer i {
    font-size: 1.75rem; }
  .footer__copyright {
    font-size: .8rem; } }
