/* Variables */
$color-very-dark-grey: #2a3433;
$color-dark-sage: #63796d;
$color-sea-green: #7fb8a5;
$color-mid-blue-green: #8cccbc;
$color-light-ash: #e9e8e4;
$color-light-mint: #d4ecb5;
$color-canary-yellow: #f3d915;
$color-very-dark-brown: #544545;

// BOX SHADOW
$box-shadow: 0 1.5rem 3rem rgba($color-very-dark-grey, .4);
