// HEADER
.header {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}
.title__box {
  @include centering;
}
.heading__primary {
  display: block;
  color: $color-light-ash;
  font-size: 1.7rem;
  letter-spacing: .6rem;
  background-color: rgba($color-very-dark-grey, .6);
  padding: 2.5rem;
  animation: enterFromLeft 2s ease-in-out;
  backface-visibility: hidden;
}
