//NAVIGATION
 nav {
  position: fixed;
  z-index: 100;
  padding: .3rem 0;
  width: 100%;
  background-color: rgba($color-dark-sage, .95);

  .nav__align-center {
    align-items: center;
  }

  .logo {
    width: 12rem;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
  }
  .nav__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
    box-sizing: border-box;
  }
    ul {
     margin: 0;
     display: flex;
     padding: 0;
     list-style-type: none;
   }
  .nav__menu li a {
    display: block;
    color: $color-light-ash;
    font-size: 1.5rem;
    padding: 0 1rem;
    pointer: cursor;

    &:after {
      content: ' ';
      display: block;
      height: .2rem;
      width: 0;
      background-color: $color-light-ash;
      opacity: 0;
      transition: all .5s ease;
    }
    &:hover:after {
      width: 100%;
      opacity: 1;
    }

    li:last-child a {
      padding-right: 0;
    }
  }
}

@media all and (max-width: 1020px) {
  nav .logo {
    width: 10rem;
  }
  nav .nav__menu li a {
    font-size: 1.25rem;
    padding: 0 .75rem;
  }
}

@media all and (max-width: 800px) {
  nav {
    position: absolute;
    background: none;
  }

   .nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba($color-dark-sage, .9);
    li {
      padding: 0 5rem;
    }
    a {
      display: block;
      padding: .4rem 0;
      color: $color-light-ash;
      font-size: 1.1rem;
      border-bottom: solid .1rem rgba($color-light-ash, .7);
    }
    li:last-child a {
      border-bottom: none;
    }
  }
}


/*  @media all and (max-width: 840px) {
  nav {
    position: absolute;
    .nav__fixed {
      background: none;
    }
}
  nav .logo {
    width: 8rem;
  }
   .nav__menu {
     list-style-type: none;
     margin: 0;
     padding: 0;
     max-height: 0;
     overflow: hidden;
     background-color: rgba($color-dark-sage, .9);
     transition: max-height .5s ease-in-out;

     li a {
       display: block;
       color: $color-light-ash;
       padding: .4rem 0;
       font-size: 1.25rem;
       text-align: center;
       border-bottom: .1rem solid rgba($color-light-ash, .8);
     }
   }
 }  */
