// PHOTO GALLERY
#photos {
  grid-area: photos;
}
.photo__gallery{
  margin: 2rem;
}
  .photo__gallery--title {
    @include section__title;
  }
.photo__gallery--img {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-very-dark-grey, .35);
      transition: all .3s ease-in;
    }
    &:hover:after {
      height: 0;
    }
    img {
      display: block;
      width: 100%;
      transition: all .4s ease-in;
    }
  }
}
.photo__gallery--img li:hover img {
  transform: scale(1.2);
}

.photo__backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-very-dark-grey, .9);
  z-index: 9999;

  img {
    max-width: 90vw;
  }
}
 .photo__backdrop-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  color: $color-light-ash;
  border: solid .2rem $color-light-ash;
  border-radius: 100%;
  cursor: pointer;
}
