*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}



body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.9;
  color: $color-very-dark-grey;
  box-sizing: border-box;
}
